* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #333;
	color: #fff;
	line-height: 1.6;
	height: 100vh;
	overflow: hidden;
	background-attachment: fixed;
}

.container {
	width: 100%;
	height: 100%;
	/* CSS Smooth Scroll */
	overflow-y: scroll;
	scroll-behavior: smooth;
	-moz-scroll-snap-type: y mandatory;
}

.navbar {
	position: fixed !important;
	top: 0 !important;
	z-index: 1 !important;
	display: flex;
	width: 100%;
	height: 60px;
	background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
}

.navbar ul li {
	margin: 0 1rem;
	padding: 1rem;
}

.navbar ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #f4f4f4;
}

.navbar ul li a:hover {
	color: skyblue;
}

section#home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	-moz-scroll-snap-align: center;
}

section h1 {
	font-size: 4rem;
}

section p {
	font-size: 1.5rem;
}

section#home input {
	width: 100%;
	border: 0;
	border-bottom: 1px solid white;
	padding: 1em 0 .8em;
	text-align: center;
	font-size: 18px;
	font-family: inherit;
	line-height: 1.5;
	outline: none;
	border-radius: 10px;
}

button {
	background: orangered !important;
	all: unset;
	margin-top: 2em;
	border: 2px solid orangered;
	padding: 1em 4em;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	position: relative;
	transition: all 500ms ease;
}

input [placeholder=Email] {
	font-size: 10px;
}

section#menu {
	margin: 0;
	padding: 0;
	background: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	text-align: center;
	padding: 3.1rem 0;
}

.menu-table {
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
}

.col {
	flex: 25%;
	padding: 10px;
	max-width: 320px;
	box-sizing: border-box;
}

.table {
	background: #fff;
	padding: 40px 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px #00000070;
	color: black;
	border-radius: 15px;
	opacity: 0.7;
}

.table h2 {
	text-transform: uppercase;
}

.table ul {
	margin: 0;
	padding: 0;
}

.table ul li {
	padding: 10px 0;
	list-style: none;
}

.price {
	font-size: 40px;
	margin-bottom: 20px;
}

.price span {
	display: block;
	font-size: 14px;
}

.table a {
	text-decoration: none;
	color: #2c3e50;
	border: 2px solid #2c3e50;
	display: block;
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 40px;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.5s linear;
}

.table a:hover {
	background: #2c3e50;
	color: #fff;
}

.pop {
	background: #2c3e50;
	color: #fff;
	transform: rotate(45deg);
	padding: 10px 40px;
	position: absolute;
	top: 10px;
	right: -34px;
}

@media screen and (max-width: 980px) {
	.col {
		flex: 50%;
	}
}

@media screen and (max-width: 700px) {
	.col {
		flex: 100%;
	}
}

section#ourteam {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding: 3.1rem 0;
	color: #000;
	background: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

section#ourteam html {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}

section#ourteam a {
	text-decoration: none;
	color: #fff;
}

.heading {
	text-transform: uppercase;
	font-size: 2.2rem;
	letter-spacing: 3px;
	margin-right: -3px;
	margin-bottom: 1rem;
	text-align: center;
	color: #333;
	position: relative;
}

.heading::after {
	content: "";
	width: 6.2rem;
	height: .5rem;
	background-color: orangered;
	position: absolute;
	bottom: -1.2rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 1.2rem;
}

.card-wrapper {
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.card {
	width: 20rem;
	height: 75vh;
	background-color: #ebeef8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1.2rem 0;
	box-shadow: .3rem .3rem 1.8rem rgba(0, 0, 0, 0.2);
}

.card .card-img {
	width: 100%;
	height: 16.2rem;
	object-fit: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.profile-img {
	width: 9.3rem;
	height: 9.3rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -6.8rem;
	z-index: 999;
	border: .6rem solid #ebeef8;
}

.card h1 {
	font-size: 1.5rem;
	color: #333;
	margin: .9rem 0;
}

.job-title {
	color: #777;
	font-size: .9rem;
	font-weight: 300;
}

.about {
	font-size: .9rem;
	margin: .9rem 0;
	font-style: italic;
	text-align: center;
	color: #333;
}

.card .btn {
	padding: 0.6rem 1.5rem;
	background-color: orangered;
	border-radius: 1.2rem;
	margin: .6rem 0;
	text-transform: uppercase;
	color: orangered;
	font-size: .8rem;
	transition: all .5s;
}

.card .btn:hover {
	transform: translateY(-2px);
	box-shadow: .3rem .3rem 1.2rem rgba(0, 0, 0, 0.2);
}

.card .btn:active {
	transform: translateY(0);
	box-shadow: none;
}

.social-media {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 1.2rem 0;
	margin-top: .9rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.social-media i {
	font-size: 1.8rem;
}

.fa-facebook-square {
	color: #3b5999;
}

.fa-twitter-square {
	color: #55acee;
}

.fa-instagram {
	color: #e6683c;
}

.fa-google-plus-square {
	color: #dd4b39;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-google-plus-square:hover {
	color: #45e19f;
}

@media screen and (min-width: 700px) {
	.card-wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.card {
		margin: 1.2rem;
		transition: opacity .5s;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	.card:nth-child(1) {
		animation: fadeIn .5s .5s backwards;
	}
	.card:nth-child(2) {
		animation: fadeIn .5s 1s backwards;
	}
	.card:nth-child(3) {
		animation: fadeIn .5s 1.5s backwards;
	}
	.card:nth-child(4) {
		animation: fadeIn .5s 2s backwards;
	}

	.card:hover {
		transform: scale(1.05);
	}
}

section#contactus {
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
	height: 100vh;
}

.contact-section {
	background-size: cover;
	padding: 65px;
}

.contact-section h1 {
	text-align: center;
	color: #ddd;
	text-transform: uppercase;
	font-size: 2.2rem;
	letter-spacing: 3px;
	margin-right: -3px;
	margin-bottom: 1rem;
	text-align: center;
	position: relative;
}

.border {
	width: 6.2rem;
	height: .5rem;
	background: orangered;
	margin: 40px auto;
	border-radius: 1.2rem;
}

.contact-form {
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}

.contact-form-text {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: rgba(0, 0, 0, 0.7);
	padding: 20px 40px;
	outline: none;
	color: white;
	transition: 0.5s;
	font-size: 1.5rem;
}

.contact-form-text:focus {
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.7);
}

textarea.contact-form-text {
	resize: none;
	height: 120px;
}

.contact-form-btn {
	float: right;
	border: 0;
	background: #28ad8cea;
	color: #fff;
	padding: 12px 50px;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.5s;
	font-size: 1rem;
}

.contact-form-btn:hover {
	background: #02a345;
}
/* section images */
section#home {
	background: url('images/petr-sevcovic-594807-unsplash.jpg') no-repeat center center/cover;
}

section#menu {
	background: url('images/blur-chef-close-up-262978.jpg') no-repeat center center/cover;
}

section#ourteam {
	background: url('images/pablo-merchan-montes-772142-unsplash.jpg') no-repeat center center/cover;
}

section#contactus {
	background: url('images/adult-bar-blur-696218.jpg') no-repeat center center/cover;
}

.push {
	margin-bottom: auto;
}
