* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #333;
	color: #fff;
	line-height: 1.6;
	height: 100vh;
	overflow: hidden;
	background-attachment: fixed;
}

.container {
	width: 100%;
	height: 100%;
	/* CSS Smooth Scroll */
	overflow-y: scroll;
	scroll-behavior: smooth;
	-moz-scroll-snap-type: y mandatory;
}

.navbar {
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	height: 60px;
	background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
}

.navbar ul li {
	margin: 0 1rem;
	padding: 1rem;
}

.navbar ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #f4f4f4;
}

.navbar ul li a:hover {
	color: skyblue;
}

section#home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	-moz-scroll-snap-align: center;
}

section h1 {
	font-size: 4rem;
}

section p {
	font-size: 1.5rem;
}

section#home input {
	width: 100%;
	border: 0;
	border-bottom: 1px solid white;
	padding: 1em 0 .8em;
	text-align: center;
	font-size: 18px;
	font-family: inherit;
	line-height: 1.5;
	outline: none;
	border-radius: 10px;
}

button {
	background: orangered !important;
	all: unset;
	margin-top: 2em;
	border: 2px solid orangered;
	padding: 1em 4em;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	position: relative;
	transition: all 500ms ease;
}

input [placeholder=Email] {
	font-size: 10px;
}

section#menu {
	margin: 0;
	padding: 0;
	background: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	text-align: center;
}

.menu-table {
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
}

.col {
	flex: 25%;
	padding: 10px;
	max-width: 320px;
	box-sizing: border-box;
}

.table {
	background: #fff;
	padding: 40px 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px #00000070;
	color: black;
	border-radius: 15px;
	opacity: 0.7;
}

.table h2 {
	text-transform: uppercase;
}

.table ul {
	margin: 0;
	padding: 0;
}

.table ul li {
	padding: 10px 0;
	list-style: none;
}

.price {
	font-size: 40px;
	margin-bottom: 20px;
}

.price span {
	display: block;
	font-size: 14px;
}

.table a {
	text-decoration: none;
	color: #2c3e50;
	border: 2px solid #2c3e50;
	display: block;
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 40px;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.5s linear;
}

.table a:hover {
	background: #2c3e50;
	color: #fff;
}

.pop {
	background: #2c3e50;
	color: #fff;
	transform: rotate(45deg);
	padding: 10px 40px;
	position: absolute;
	top: 10px;
	right: -34px;
}

@media screen and (max-width: 980px) {
	.col {
		flex: 50%;
	}
}

@media screen and (max-width: 700px) {
	.col {
		flex: 100%;
	}
}

/* section images */
section#home {
	background: url('images/petr-sevcovic-594807-unsplash.jpg') no-repeat center center/cover;
}

section#menu {
	background: url('images/blur-chef-close-up-262978.jpg') no-repeat center center/cover;
}

section#ourteam {
	background: url('images/pablo-merchan-montes-772142-unsplash.jpg') no-repeat center center/cover;
}

section#contactus {
	background: url('images/adult-bar-blur-696218.jpg') no-repeat center center/cover;
}

.push {
	margin-bottom: auto;
}
